body {
    background-image: url("file:///D:/test%20html/oceannu.png");
    background-size: cover;
    background-repeat: no-repeat;
}

hr {
    border: 10px solid rgb(235, 41, 57) (31, 31, 236, 0.83);
    width: 100%;
}
.transparent-line {
    border: none; /* Remove default border */
    height: 10px; /* 10px height */
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
}
